* {
    margin:0;
    padding: 0;
}
html {
    font-size: 16px;
}

.figure {
    position: absolute;
    width: 100%;
    height: 100vh;
    border: 5px solid blue;
}
#noose {
    display: absolute;
    width: 100%;
    height: 100vh;
}
#noose img {
    position: absolute;
    right: 40vh;
    bottom: 5vh;
    height: 100vh;
    z-index: 1;

}
#stickhead {
    z-index: 2;   
    position: absolute;
    right: 112.5vh;
    top: 18vh;
    height: fit-content;
}
#stickhead img {
    height: 190px;
    z-index: 2;    
}
#stickbody {
    z-index: 2;   
    position: absolute;
    right: 120vh;
    top: 33vh;
    height: fit-content;
}
#stickbody img {
    height: 260px;
    z-index: 2; 
}
#la {
    z-index: 2;   
    position: absolute;
    right: 122.6vh;
    top: 37vh;
    height: fit-content;
}
#la img {
    height: 110px;
    z-index: 2; 
}
#ra {
    z-index: 2;   
    position: absolute;
    right: 114vh;
    top: 37vh;
    height: fit-content;
}
#ra img {
    height: 110px;
    z-index: 2; 
}
#ll {
    z-index: 2;   
    position: absolute;
    right: 121.5vh;
    top: 56vh;
    height: fit-content;
}
#ll img {
    height: 110px;
    z-index: 2; 
}
#rl {
    z-index: 2;   
    position: absolute;
    right: 114vh;
    top: 56vh;
    height: fit-content;
}
#rl img {
    height: 110px;
    z-index: 2; 
}

.wrong {
    right: 0;
    top: 40vh;
    width: 50%;
    z-index: 3;   
    position: absolute;
    height: 10vh;
    text-align: center;
    border: 2px solid red;
    margin: auto;
}
#wletters {
    right: 0;
    width: 100%;
    z-index: 4;   
    position: absolute;
    height: 10vh;
    text-align: center;
    border: 2px solid green;
    margin: auto;
}
.ansr {
    right: 0;
    top: 80vh;
    width: 50%;
    z-index: 3;   
    position: absolute;
    height: 10vh;
    text-align: center;
    border: 2px solid blue;
    margin: auto;
}
header {
    font-size: 7rem;
    right: 0;
    top: 10vh;
    width: 50%;
    z-index: 3;   
    position: absolute;
    height: 10vh;
    text-align: center;
    border: 2px solid blue;
    margin: auto;
}
div button {
    cursor: pointer;
    font-size: 1rem;
    right: 700px;
    top: 60vh;
    width: fit-content;
    z-index: 3;   
    position: absolute;
    height: fit-content;
    text-align: center;
    border: 2px solid blue;
    margin: auto;
}

h1 {
    font-size: 5rem;
}
h2 {
    font-size: 2rem;
}